body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: snow;
}


/*     Header starts here      */

header {
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(10, 8, 34);
    height: 70px;
    font-size: 20px;
        a{
            color: #fff;
        }
     
}
.header-left {
    margin-top: 5px;
    display: flex;  
     .icon-back {
         font-size: 150%;
         margin-top: 18px;
         margin-left: 20px;
     }

     .header-left-text{
         margin-left: 5px;
            P{
                padding: 0;
                margin: 0;
                margin-top: 10px;
                font-size: 100%;
                
            }

            span{
                font-size: 60%;
                margin-left: 3px;
            }
     

     }
    
   
}

.header-right {
    display: flex;
        p{
            font-size: 70%;
          
            margin-top: 30px;
        }
        .icon-down {
            margin-top: 32px;
            margin-right: 80px;
            font-size: 80%;
            padding-left: 5px;
        }

        .icon-close {
            margin-top: 26px;
            font-size: 120%;
            margin-right: 20px;
        }
}

/*     Header ends here      */



/****** time & data starts here ******/



.time-data {
   padding: 2px; 
    background-color: rgb(21, 55, 100);   
    padding-left: 30px;
        p{                
            font-size: 80%;
        }
}

/****** time & data ends here ******/




/****** seats starts here ******/

.seats {
   
    background-color: rgb(44, 68, 99);
    

   
        .ticket-top {
            padding-bottom: 20px;
            
            display: flex;
            justify-content: center;
                .ticket-price {
                    display: flex;
                    justify-content: space-between;
                    width: 800px;
                    border-bottom: solid 1px grey;
                    font-size: 80%;
                    padding-top: 10px;
                   
                    
                }
          
        } 

        .sector-a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 33px;

              p{
                        margin-top: 20px;
                    }
           
                ul {
                    display: flex;
                    flex-direction: row;
                    margin-right: 32px;

                  
                    
                    
                    

                        .avaliable{
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 24px;
                            height: 24px;
                            margin-right: 8px;
                            font-size: 70%;
                            background-color: white;
                            border-radius: 4px;
                            color: black;   

                                &:hover {
                                    background-color: rgb(21, 55, 100);  
                                    transition-duration: 250ms;
                                    transition-property: background-color, border-color, color, fill, stroke;
                                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);                                                               
                                    color: blanchedalmond;
                                }
                        }

                        .free-space{
                            color: rgb(44, 68, 99);
                             display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 24px;
                            height: 24px;
                            margin-right: 8px;   
   
                        }

                        .reserved {
                             display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 24px;
                            height: 24px;
                            margin-right: 8px;
                            font-size: 70%;                            
                            border-radius: 4px;
                            color: white;   
                            background-color: rgb(97, 96, 94);
                        }
                        .selected {
                                      display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 24px;
                            height: 24px;
                            margin-right: 8px;
                            font-size: 70%;                            
                            border-radius: 4px;
                            background-color: rgb(21, 55, 100);  
                            transition-duration: 250ms;
                            transition-property: background-color, border-color, color, fill, stroke;
                            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);                                                               
                            color: blanchedalmond;

                        }
                   

                }
        }

        .screen {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;
                .screen-child {
                    background-color: whitesmoke;
                    margin-top: 80px;
                    width: 280px;
                    height: 80px;
                    border-radius: 5px;



                }
        }
}

/****** seats ends here ******/



/****** footer starts here ******/


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 17, 19);  
    height: 150px;   
            p{
                margin-left: 40px;
                width: 26px;
                height: 26px;
                margin-right: 8px;
                border-radius: 4px;
            }
        
            .reserved-seat{              
                background-color: rgb(97, 96, 94);
            }
            .avaliable-seat {
                background-color: white
            }
            .selected-seat{
                background-color: rgb(21, 55, 100);  
            }     
        
}

/****** footer ends here ******/